{% extends 'base.html' %}

{% load icons %}
{% load static %}
{% load project_extras %}

{% block title %}Projects{% endblock %}

{% block content %}


<style>
  .filter_container {
    display: flex;
    justify-content: center;
  }
  .filter_div {
    display: flex;
    justify-content: space-around;
    min-width: 300px;
    width: 40%
  }

  .filter_input_div {
    margin-right: 20px;
  }



</style>

<h2 class="mt-3 text-center">Open Projects</h2>

<div class="row">
    <div class="col-lg text-center">

        <div class="text-center d-inline-flex list-group mt-3" id="project-toggle" role="tablist">
            <ul class="pagination">
                {% for project_category in project_categories %}
                <li class="page-item">
                    <a
                            class="list-group-item list-group-item-action"
                            data-toggle="list"
                            role="tab"
                            id="category-{{project_category}}"
                            aria-controls="{{project_category}}"
                            href="#{{project_category}}">
                        {{project_category}}
                    </a>
                </li>
                {% endfor %}

            </ul>
        </div>

        <div class="tab-content" id="nav-tabContent">
            <div class="filter_container">
                <form class="form-group filter_div" method="get">
                    <div class="filter_input_div">
                        <input name="min-budget"
                               class="form-control"
                               id="id_min_budget"
                               type="number"
                               placeholder="Min Budget"
                               value="{{min_budget}}"
                               required>
                        <small class="form-text text-muted">Enter minimum budget</small>
                    </div>
                    <div class="filter_input_div">
                        <input
                                name="max-budget"
                                class="form-control"
                                id="id_max_budget"
                                type="number"
                                placeholder="Max Budget"
                                value="{{max_budget}}"
                                required>
                        <small class="form-text text-muted">Enter maximum budget</small>
                    </div>
                    <input name="budget-submit" class="btn btn-primary" type="submit" value="filter">
                </form>
            </div>
            {% for project_category in project_categories %}
            <div class="tab-pane fade show" id="{{project_category}}" role="tabpanel"
                 aria-labelledby="category-{{project_category}}">
                <h3 class="mb-3 mt-5">{{project_category}}</h3>
                <div class="row projects-view">
                    {% for project in projects %}
                    {% if project.status == project.OPEN and project.category.id == project_category.id %}
                    <a class="open-project-view-item" href="{% url 'project_view' project_id=project.id%}">
                        <div class="col-md mb-3 ml-3 mr-3 mt-3 project-box-style">
                            <div class="media">
                                <img class="align-self-top mr-3 mt-5 project-image" src="{% static 'img/idea.jpg' %}"
                                     alt="Generic placeholder image."/>
                                <div class="media-body">
                                    <h5 class="mt-3"> {% icon 'tasks' %} {{project.title}}</h5>
                                    <p>Posted by: {{project.user.user.username}}</p>
                                    <p class="project-description">{{project.description}}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    {% endif %}
                    {% endfor %}

                </div>

            </div>
            {% endfor %}
        </div>

    </div>
</div>

<script src="{% static 'js/tab_change.js' %}"></script>
<script>
  document.getElementsByClassName('list-group-item-action')[0].click();
  setTimeout(function(){
    document.getElementsByClassName('list-group-item-action')[0].click();
  }, 100);




</script>
{% endblock %}
